.wrapper{
    margin: 0 auto ;
    width: 50%;   
    padding-top: 50px; 
    
}

.form-input{
    margin-top: 10px;
    margin-bottom: 5px;
}

.question{
    padding-bottom: 50px;
}

.btn{
    margin: 10px;
}
.btn-group{
    margin-top: 80px;
    display: flex;
    

}